ECMS/CUSTOMS/广州/BC-2016.3.7/CBEC203_SortingInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:gacc:datamodel:GZ:CBEC203:1" xmlns:cbec="urn:gacc:datamodel:GZ:CBEC203:1" targetNamespace="urn:gacc:datamodel:GZ:CBEC203:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--跨境电子商务，分拣信息报文定义-->
	<xs:element name="CBEC">
		<xs:annotation>
			<xs:documentation>跨境电子商务报文(root)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Head" type="HeadType">
					<xs:annotation>
						<xs:documentation>报文头数据段</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Notification">
					<xs:annotation>
						<xs:documentation>通知数据段</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SortingInfo" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>分拣信息数据段</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MasterWayBillID">
											<xs:annotation>
												<xs:documentation>总运单号</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WayBillID">
											<xs:annotation>
												<xs:documentation>运单号</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CustomsCode">
											<xs:annotation>
												<xs:documentation>主管海关代码</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LogisticsCompany">
											<xs:annotation>
												<xs:documentation>物流公司数据段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RegistrationNumber">
														<xs:annotation>
															<xs:documentation>物流公司备案号</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Name">
														<xs:annotation>
															<xs:documentation>物流公司名称</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CustomsInspectionInstruction">
											<xs:annotation>
												<xs:documentation>海关验放指令</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LastHandlingTime" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>最新处理时间
YYYY-MM-DDThh:mm:ss</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="GrossWeight" minOccurs="0">
											<xs:annotation>
												<xs:documentation>毛重（千克）</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="WeightType"/>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="TradeCountry" minOccurs="0">
											<xs:annotation>
												<xs:documentation>启运国/运抵国（地区）</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SortingItem" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>分拣物品项信息段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SequenceNumber">
														<xs:annotation>
															<xs:documentation>清单商品序号</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:int"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RegistrationNumber" minOccurs="0">
														<xs:annotation>
															<xs:documentation>物品备案号</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Name">
														<xs:annotation>
															<xs:documentation>商品名称</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="200"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Amount">
														<xs:annotation>
															<xs:documentation>申报总价</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="PriceType">
																	<xs:attribute name="currencyCode" use="required">
																		<xs:annotation>
																			<xs:documentation>币制代码</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:length value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
								<xs:unique name="SortingItemSequenceNumeric">
									<xs:annotation>
										<xs:documentation>同一分拣信息里，清单商品序号唯一</xs:documentation>
									</xs:annotation>
									<xs:selector xpath="SortingItem"/>
									<xs:field xpath="SequenceNumber"/>
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="WayBillID">
			<xs:annotation>
				<xs:documentation>同一报文里，同一总运单下的运单号唯一</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="Notification/SortingInfo"/>
			<xs:field xpath="MasterWayBillID"/>
			<xs:field xpath="WayBillID"/>
		</xs:unique>
	</xs:element>
	<xs:complexType name="HeadType">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageID">
				<xs:annotation>
					<xs:documentation>报文编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FunctionCode">
				<xs:annotation>
					<xs:documentation>报文功能代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageType">
				<xs:annotation>
					<xs:documentation>报文类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
						<xs:enumeration value="CBEC203"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SenderID">
				<xs:annotation>
					<xs:documentation>发送方代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiverID" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>接受方代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SendTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>发送时间。
YYYY-MM-DDThh:mm:ss</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version">
				<xs:annotation>
					<xs:documentation>报文版本号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PriceType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="19"/>
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeightType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="19"/>
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
