ECMS/CUSTOMS/广州/BC-2016.3.7/CBEC104_Payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:gacc:datamodel:GZ:CBEC104:1" xmlns:cbec="urn:gacc:datamodel:GZ:CBEC104:1" targetNamespace="urn:gacc:datamodel:GZ:CBEC104:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--跨境电子商务，支付信息报文定义-->
	<xs:element name="CBEC">
		<xs:annotation>
			<xs:documentation>跨境电子商务报文(root)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Head" type="HeadType">
					<xs:annotation>
						<xs:documentation>报文头数据段</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Declaration">
					<xs:annotation>
						<xs:documentation>报送数据段</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declarant" type="DeclarantType">
								<xs:annotation>
									<xs:documentation>报送者信息段</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Payment" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>支付信息段</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TransactionID">
											<xs:annotation>
												<xs:documentation>支付交易号</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PaymentCompany">
											<xs:annotation>
												<xs:documentation>支付公司信息段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RegistrationNumber">
														<xs:annotation>
															<xs:documentation>支付公司备案号</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Name" minOccurs="0">
														<xs:annotation>
															<xs:documentation>支付公司名称</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ECommerceCompany" minOccurs="0">
											<xs:annotation>
												<xs:documentation>电商公司信息段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RegistrationNumber">
														<xs:annotation>
															<xs:documentation>电商公司备案号</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Name" minOccurs="0">
														<xs:annotation>
															<xs:documentation>电商公司名称</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ECommercePlatForm">
											<xs:annotation>
												<xs:documentation>电商平台信息段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="InternetDomainName">
														<xs:annotation>
															<xs:documentation>互联网域名</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="OrderID">
											<xs:annotation>
												<xs:documentation>订单号</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PaymentTime" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>支付时间
YYYY-MM-DDThh:mm:ss</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AmountPaid">
											<xs:annotation>
												<xs:documentation>支付金额</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="PriceType">
														<xs:attribute name="currencyCode" use="required">
															<xs:annotation>
																<xs:documentation>币制代码</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Payer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>支付者信息段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name">
														<xs:annotation>
															<xs:documentation>名称</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="IDNumber">
														<xs:annotation>
															<xs:documentation>证件号码</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="IDNumberType">
																	<xs:attribute name="TypeCode" use="required">
																		<xs:annotation>
																			<xs:documentation>证件类型代码</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="1"/>
																				<xs:maxLength value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="PhoneNumber" minOccurs="0">
														<xs:annotation>
															<xs:documentation>电话号码</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Notes" minOccurs="0">
											<xs:annotation>
												<xs:documentation>备注</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="1024"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="TransactionID">
						<xs:annotation>
							<xs:documentation>同一报文里，同一支付企业的支付交易号唯一</xs:documentation>
						</xs:annotation>
						<xs:selector xpath="cbec:Payment"/>
						<xs:field xpath="cbec:PaymentCompany/cbec:Name"/>
						<xs:field xpath="cbec:TransactionID"/>
					</xs:unique>
					<xs:unique name="OrderID">
						<xs:annotation>
							<xs:documentation>同一报文里，同一电商平台的订单号唯一</xs:documentation>
						</xs:annotation>
						<xs:selector xpath="cbec:Payment"/>
						<xs:field xpath="cbec:ECommercePlatForm/cbec:InternetDomainName"/>
						<xs:field xpath="cbec:OrderID"/>
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HeadType">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageID">
				<xs:annotation>
					<xs:documentation>报文编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FunctionCode">
				<xs:annotation>
					<xs:documentation>报文功能代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageType" fixed="CBEC104">
				<xs:annotation>
					<xs:documentation>报文类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SenderID">
				<xs:annotation>
					<xs:documentation>发送方代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiverID">
				<xs:annotation>
					<xs:documentation>接受方代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SendTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>发送时间
YYYY-MM-DDThh:mm:ss</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string">
				<xs:annotation>
					<xs:documentation>报文版本号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeclarantType">
		<xs:annotation>
			<xs:documentation>申报者类</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Company">
				<xs:annotation>
					<xs:documentation>公司</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RegistrationNumber">
							<xs:annotation>
								<xs:documentation>备案号</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Person">
				<xs:annotation>
					<xs:documentation>个人</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name">
							<xs:annotation>
								<xs:documentation>名称</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="IDNumber">
							<xs:annotation>
								<xs:documentation>证件号码</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="IDNumberType">
										<xs:attribute name="TypeCode" use="required">
											<xs:annotation>
												<xs:documentation>证件类型代码</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="IDNumberType">
		<xs:annotation>
			<xs:documentation>证件号码类</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceType">
		<xs:annotation>
			<xs:documentation>价格类</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="19"/>
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
