ECMS/CUSTOMS/广州/BC-2016.3.7/CBEC106_MasterWayBill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:gacc:datamodel:GZ:CBEC106:1" xmlns:cbec="urn:gacc:datamodel:GZ:CBEC106:1" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="urn:gacc:datamodel:GZ:CBEC106:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--跨境电子商务 总运单及总分关系信息 报送报文定义-->
	<xs:element name="CBEC">
		<xs:annotation>
			<xs:documentation>跨境电子商务报文(root)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Head" type="HeadType">
					<xs:annotation>
						<xs:documentation>报文头数据段</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Declaration">
					<xs:annotation>
						<xs:documentation>报送数据段</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declarant" type="DeclarantType">
								<xs:annotation>
									<xs:documentation>报送者信息段</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MasterWayBill" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>总运单数据段</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID">
											<xs:annotation>
												<xs:documentation>总运单号（与舱单系统总运单对应）</xs:documentation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="ZYD2015072200001"/>
														<altova:example value="ZYD2015072200002"/>
														<altova:example value="ZYD2015072200003"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BillType" type="xs:int">
											<xs:annotation>
												<xs:documentation>总运单类型</xs:documentation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="1"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="IEFlag">
											<xs:annotation>
												<xs:documentation>进出口标识</xs:documentation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="I"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CustomsCode">
											<xs:annotation>
												<xs:documentation>主管海关代码</xs:documentation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="5145"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LogisticsCompany">
											<xs:annotation>
												<xs:documentation>物流公司数据段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RegistrationNumber">
														<xs:annotation>
															<xs:documentation>物流公司备案号</xs:documentation>
															<xs:appinfo>
																<altova:exampleValues>
																	<altova:example value="IE150211818163"/>
																</altova:exampleValues>
															</xs:appinfo>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="WayBill" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>运单数据段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ID">
														<xs:annotation>
															<xs:documentation>运单号</xs:documentation>
															<xs:appinfo>
																<altova:exampleValues>
																	<altova:example value="YD2015072200001"/>
																	<altova:example value="YD2015072200002"/>
																	<altova:example value="YD2015072200003"/>
																</altova:exampleValues>
															</xs:appinfo>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Notes" minOccurs="0">
											<xs:annotation>
												<xs:documentation>备注</xs:documentation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="总运单测试1"/>
														<altova:example value="总运单测试2"/>
														<altova:example value="总运单测试3"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="1024"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="MasterWayBillID">
						<xs:annotation>
							<xs:documentation>同一报文里，总运单号唯一</xs:documentation>
						</xs:annotation>
						<xs:selector xpath="cbec:MasterWayBill"/>
						<xs:field xpath="cbec:ID"/>
					</xs:unique>
					<xs:unique name="WayBillID">
						<xs:annotation>
							<xs:documentation>同一报文里，运单号唯一</xs:documentation>
						</xs:annotation>
						<xs:selector xpath="cbec:MasterWayBill/cbec:WayBill"/>
						<xs:field xpath="cbec:ID"/>
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HeadType">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageID">
				<xs:annotation>
					<xs:documentation>报文编号</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="CBEC106_PTE51451401140000001_20150722_0000001"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FunctionCode">
				<xs:annotation>
					<xs:documentation>报文功能代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageType" fixed="CBEC106">
				<xs:annotation>
					<xs:documentation>报文类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SenderID">
				<xs:annotation>
					<xs:documentation>发送方代码</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="PTE51451401140000001"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiverID">
				<xs:annotation>
					<xs:documentation>接受方代码</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="5145"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SendTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>发送时间
YYYY-MM-DDThh:mm:ss</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="2015-07-22T10:35:47"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string">
				<xs:annotation>
					<xs:documentation>报文版本号</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="1.0"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeclarantType">
		<xs:annotation>
			<xs:documentation>申报者类型</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Company">
				<xs:annotation>
					<xs:documentation>公司</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RegistrationNumber">
							<xs:annotation>
								<xs:documentation>备案号</xs:documentation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="IE150211818163"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Person">
				<xs:annotation>
					<xs:documentation>个人</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name">
							<xs:annotation>
								<xs:documentation>名称</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="IDNumber">
							<xs:annotation>
								<xs:documentation>证件号码</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="IDNumberType">
										<xs:attribute name="TypeCode" type="xs:int" use="required">
											<xs:annotation>
												<xs:documentation>证件类型代码</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="IDNumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceType">
		<xs:annotation>
			<xs:documentation>价格类型</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="19"/>
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
