ECMS/CUSTOMS/广州/BC-2016.3.7/CBEC204_PersonalImportTax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:gacc:datamodel:GZ:CBEC204:1" xmlns:cbec="urn:gacc:datamodel:GZ:CBEC204:1" targetNamespace="urn:gacc:datamodel:GZ:CBEC204:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--跨境电子商务，个人进口税信息报文定义-->
	<xs:element name="CBEC">
		<xs:annotation>
			<xs:documentation>跨境电子商务报文(root)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Head" type="HeadType">
					<xs:annotation>
						<xs:documentation>报文头数据段</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Notification">
					<xs:annotation>
						<xs:documentation>通知数据段</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ImportTax" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>进口税数据段</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PaymentReceiptNumber">
											<xs:annotation>
												<xs:documentation>税款缴纳证号</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="TaxPaymentReceiptNumberType">
														<xs:attribute name="TypeCode" use="optional">
															<xs:annotation>
																<xs:documentation>类型代码</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="1"/>
																	<xs:maxLength value="10"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="TaxDate" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>征税日期
YYYY-MM-DDThh:mm:ss</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Payer">
											<xs:annotation>
												<xs:documentation>纳税人信息段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name">
														<xs:annotation>
															<xs:documentation>名称</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Address" minOccurs="0">
														<xs:annotation>
															<xs:documentation>联系地址</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="512"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TaxTotalAmount">
											<xs:annotation>
												<xs:documentation>总税额</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="PriceType"/>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="TaxDueAmount">
											<xs:annotation>
												<xs:documentation>应付税额</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="PriceType"/>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="TaxItem" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>应纳税项数据段</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="TaxItemType">
														<xs:sequence>
															<xs:element name="ArticlesList">
																<xs:annotation>
																	<xs:documentation>对应物品清单数据段</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Number">
																			<xs:annotation>
																				<xs:documentation>清单编号（清单申报以后海关分配的编号）</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="30"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="SequenceNumber" type="xs:int">
																			<xs:annotation>
																				<xs:documentation>清单物品序号</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="DeclaredTotalPrice" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>申报总价</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:simpleContent>
																		<xs:extension base="PriceType">
																			<xs:attribute name="currencyCode" use="required">
																				<xs:annotation>
																					<xs:documentation>币制代码</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:attribute>
																		</xs:extension>
																	</xs:simpleContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="PostalArticlesTaxCode">
																<xs:annotation>
																	<xs:documentation>行邮税号</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="30"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="HSCode" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>HS编码</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="0"/>
																		<xs:maxLength value="10"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="WayBill">
																<xs:annotation>
																	<xs:documentation>运单数据段</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ID">
																			<xs:annotation>
																				<xs:documentation>运单号</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="30"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="LogisticsCompany">
																			<xs:annotation>
																				<xs:documentation>物流公司数据段</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="RegistrationNumber">
																						<xs:annotation>
																							<xs:documentation>物流公司备案号</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="1"/>
																								<xs:maxLength value="30"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Notes" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>备注</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="0"/>
																		<xs:maxLength value="1024"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Notes" minOccurs="0">
											<xs:annotation>
												<xs:documentation>备注</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="1024"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
								<xs:unique name="TaxItemSequenceNumber">
									<xs:annotation>
										<xs:documentation>同一税单里，应税物品序号唯一</xs:documentation>
									</xs:annotation>
									<xs:selector xpath="cbec:TaxItem"/>
									<xs:field xpath="cbec:SequenceNumber"/>
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="PaymentReceiptNumber">
						<xs:annotation>
							<xs:documentation>同一报文里，个人税单号唯一</xs:documentation>
						</xs:annotation>
						<xs:selector xpath="cbec:ImportTax"/>
						<xs:field xpath="cbec:PaymentReceiptNumber"/>
					</xs:unique>
					<xs:unique name="ArticlesSequenceNumber">
						<xs:annotation>
							<xs:documentation>同一税单里，同一清单下的物品序号唯一</xs:documentation>
						</xs:annotation>
						<xs:selector xpath="cbec:ImportTax/cbec:TaxItem"/>
						<xs:field xpath="cbec:ArticlesList/cbec:Number"/>
						<xs:field xpath="cbec:ArticlesList/cbec:SequenceNumber"/>
					</xs:unique>
					<xs:unique name="WayBillID">
						<xs:annotation>
							<xs:documentation>同一税单里，同一物流公司的运单号唯一</xs:documentation>
						</xs:annotation>
						<xs:selector xpath="cbec:ImportTax/cbec:TaxItem"/>
						<xs:field xpath="cbec:WayBill/cbec:LogisticsCompany/cbec:RegistrationNumber"/>
						<xs:field xpath="cbec:WayBill/cbec:ID"/>
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HeadType">
		<xs:annotation>
			<xs:documentation>报文头类型定义</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageID">
				<xs:annotation>
					<xs:documentation>报文编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FunctionCode">
				<xs:annotation>
					<xs:documentation>报文功能代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageType" fixed="CBEC204">
				<xs:annotation>
					<xs:documentation>报文类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SenderID">
				<xs:annotation>
					<xs:documentation>发送方代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiverID" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>接受方代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SendTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>发送时间
YYYY-MM-DDThh:mm:ss</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string">
				<xs:annotation>
					<xs:documentation>报文版本号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxItemType">
		<xs:annotation>
			<xs:documentation>纳税项类型定义</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SequenceNumber" type="xs:int">
				<xs:annotation>
					<xs:documentation>序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>物品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Model">
				<xs:annotation>
					<xs:documentation>规格型号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Quantity">
				<xs:annotation>
					<xs:documentation>数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="19"/>
						<xs:fractionDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitCode">
				<xs:annotation>
					<xs:documentation>计量单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DutyPayingValue">
				<xs:annotation>
					<xs:documentation>完税价格</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="PriceType"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TaxRate">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="19"/>
						<xs:fractionDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TaxAmount">
				<xs:annotation>
					<xs:documentation>税额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="PriceType">
						<xs:totalDigits value="19"/>
						<xs:fractionDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PriceType">
		<xs:annotation>
			<xs:documentation>价格类型定义</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="19"/>
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxPaymentReceiptNumberType">
		<xs:annotation>
			<xs:documentation>税款缴纳证号类型</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
